# Does get committed to github - acts as a TEMPLATE, making it safe to share
#contains no real secrets. serves 2 purposes 1. documents exactly what variables
#this application needs with the exact same names Settings expects. 2. bin/setup.sh
#will literally copy this file to create a real .env file for anyone who doesn't have
# one yet.

DATABASE_URL=postgresql+asyncpg://postgres:password@127.0.0.1:5432/cashcow
SECRET_KEY=
FRONTEND_ORIGIN=http://localhost:5173
SEED_PASSWORD=
